* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #e0e0ff;
	color: black;
}

header, nav, main {
	padding: 10px;
}

header {
	background-color: #ffffff;
	height: 3em;
}

nav {
	font-family: "AvantGarde Bold",Arial,Verdana;
	font-size: 14px;
	background-color: #293315;
	height: 2em;
}

nav>a {
	color: #ffffff;
	text-decoration: none;
	padding-right: 20px;
	font-weight: bold;
	vertical-align: middle;
}

nav>a:hover {
	color: #11cc11;
	text-decoration: underline;
}

main {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;	
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4.5em;
}

footer, .push {
	height: 4em;
}

footer {
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;	
	font-size: 11px;
	background-color: #ffffff;
	text-align: center;
	padding: 10px;
	border-top: 0.5em solid #293315; 
}

